@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
background-color: black;
background-image: url('../imagens/fundo-login.png');
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}

section{
background-image: linear-gradient(to bottom, #ffa600, #e7ac3df5);
margin: auto;
height: 500px;
padding: 40px 50px;
width: 90%;
border-radius: 15px;
box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.274);
}

input{
    height: 30px;
    text-align: center;
    background-color: rgb(240, 227, 211);
    border-radius: 6px;
    

}

.logo{
text-align: center;
padding: 20px;
}


#login-form{
display: flex;
flex-direction: column;
gap: 9px;
width: 100%;
margin: 0 auto;
max-width: 350px;
padding: 15px;
}
