@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    background-image: url('../imagens/fundo-login.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
}

h1 {
    text-align: center;
    padding: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
}

.campo label {
    width: 100%;
    margin-bottom: 2px;
}

.campo input {
    width: 100%;
    height: 30px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
}

.campo input:focus {
    outline: none;
    border-bottom: 3px solid #333;
    transition: 0.3s;
}

button {
    margin: 20px 0 10px 0;
    background-color: #838d8d;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #e48b16;
}

p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
}

a {
    font-size: 14px;
    margin-left: 5px;
    color: #0d65e9;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #e48b16;
}