@charset "UTF-8";

* {
    margin: o;
    padding: o;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.164);
    max-width: 750px;
    margin: auto;
    min-height: 100vh;
    position: relative;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    border-radius: 7px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.image-perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #ff8c00;
    object-fit: cover;
}

.input-perfil {
    width: 100%;
    background: #1a1a1a1a;
    border: 1px solid #333;
    color: white;
    padding: 12px;
    margin-top: 12px;
    border-radius: 5px;
}

.input-perfil:focus {
    border-color: #ff8c00;
    outline: none;
    box-shadow: 0 0 10px rgba(255, 140, 0, 0.2);
}

.input-perfil-bio {
    width: 100%;
    background: #1a1a1a1a;
    border: 1px solid #333;
    color: rgb(0, 0, 0);
    padding: 50px;
    margin-top: 12px;
    border-radius: 5px;
}

label {
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
    color: #888;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    margin-bottom: 8px;
    padding-top: 10px;
    justify-content: flex-start;
    width: 75vh;
}

.option {
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    background: #121212;
    color: #fff;
    padding: 15px;
    border: 1px solid #333;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px;
}

.option:hover {
    outline: none;
    border-color: #ff8c00;
    box-shadow: 0 0 10px #ff8c004d;
    background-color: #f34201;
    cursor: pointer;
}


.btn-salvar {
    width: 100%;
    padding: 15px;
    background: linear-gradient(90deg, #ff8c00, #ff4500);
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 100px;
}